@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --width: 1920;
    --height: 1080;
    font-family: 'Arial';
    height: 100vh;
    position: relative;
}

#gameCanvas {
    width: var(--width);
    height: var(--height);
    image-rendering: pixelated;
}

#speed-type {
    width: 300px;
    margin: 1em;
    display: flex;
    justify-content: space-between;
}

.canvas-container {
    /* position: absolute;
    top: 50%;
    left: 50%; */
    /* width: calc(var(--width));
    height: calc(var(--height)); */
    /* transform: scale(1, 0.5); */
    box-sizing: border-box;
}